/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('../fonts/roboto-v20-latin-300italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v20-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kaushan-script-regular - latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'),
    url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.header {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(250, 217, 136, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url(../img/picture.jpg);
  background-image: -o-linear-gradient(
      bottom,
      rgba(250, 217, 136, 0.9),
      rgba(243, 129, 129, 0.9)
    ),
    url(../img/picture.jpg);
  background-image: linear-gradient(
      to top,
      rgba(250, 217, 136, 0.9),
      rgba(243, 129, 129, 0.9)
    ),
    url(../img/picture.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .header {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(250, 217, 136, 0.9)),
        to(rgba(243, 129, 129, 0.9))
      ),
      url(../img/picture@2x.jpg);
    background-image: -o-linear-gradient(
        bottom,
        rgba(250, 217, 136, 0.9),
        rgba(243, 129, 129, 0.9)
      ),
      url(../img/picture@2x.jpg);
    background-image: linear-gradient(
        to top,
        rgba(250, 217, 136, 0.9),
        rgba(243, 129, 129, 0.9)
      ),
      url(../img/picture@2x.jpg);
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.page__header {
  padding-top: 30px;
  padding-bottom: 230px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.header__navigation {
  margin-bottom: 192px;
}

.logotype {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.navigation-list {
  min-width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navigation__list-link:hover,
.navigation__list-link:focus {
  color: #fce38a;
}

.navigation__list-link {
  position: relative;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-transform: uppercase;
}

.navigation__list-button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.navigation__list-link:hover::after {
  opacity: 1;
  visibility: visible;
}

.navigation__list-link::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  content: '';
  bottom: -10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.navigation__list-icon {
  fill: #ffffff;
}

.navigation__list-icon_cart {
  width: 18px;
  height: 15px;
}

.navigation__list-icon_glass {
  width: 18px;
  height: 18px;
}

.navigation__list-link:hover .navigation__list-icon {
  fill: #fce38a;
}

.header__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 150px;
  line-height: 140px;
  color: #ffffff;
  text-align: center;
  padding: 0 60px;
  margin-bottom: 118px;
}

.header__title_br {
  display: block;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 72px;
  line-height: 87px;
  color: #ffffff;
  margin-bottom: 56px;
}

.button-wrapper {
  text-align: center;
}

.header-button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-transform: uppercase;
  width: 160px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #ffffff;
  cursor: pointer;
  outline: none;
}

.services__section {
  padding-top: 52px;
  padding-bottom: 52px;
}

.section-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #333333;
  text-align: center;
}

.section-title::after {
  display: block;
  width: 60px;
  height: 3px;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 50px;
  background-color: #f38181;
  content: '';
}

.section-title__br {
  display: block;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 22px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.services__list-item {
  width: 380px;
  padding-left: 82px;
  background-position: left 20px top;
  background-repeat: no-repeat;
}

.services__list-item:nth-child(-n + 3) {
  margin-bottom: 98px;
}

.services__list-item_alarm {
  background-image: url(../img/alarm.svg);
}

.services__list-item_line-graph {
  background-image: url(../img/line-graph.svg);
}

.services__list-item_computer {
  background-image: url(../img/computer.svg);
}

.services__list-item_book {
  background-image: url(../img/book.svg);
}

.services__list-item_home {
  background-image: url(../img/home.svg);
}

.services__list-item_image {
  background-image: url(../img/image.svg);
}

.services__list-item-title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.services__list-item-about {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.team__section {
  padding-top: 52px;
  padding-bottom: 78px;
}

.team__description {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: center;
  padding: 0 120px;
  margin-bottom: 90px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team__list-item:hover .team__list-image {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.team__list-item:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.team__wrapper-overlay {
  position: relative;
  margin-bottom: 28px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(250, 217, 136, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(250, 217, 136, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  background: linear-gradient(
    to top,
    rgba(250, 217, 136, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  -webkit-box-shadow: 10px 10px #95e1d3;
  box-shadow: 10px 10px #95e1d3;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list__item:not(:last-child) {
  border-right: 1px solid #f38181;
}

.social-list__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #fce38a;
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.social-list__item-link:hover {
  background-color: #f38181;
}

.social-list__icon {
  fill: #f38181;
}

.social-list__icon_facebook {
  width: 13px;
  height: 26px;
}
.social-list__icon_twitter {
  width: 26px;
  height: 22px;
}

.social-list__icon_pinterest {
  width: 21px;
  height: 26px;
}

.social-list__icon_instagram {
  width: 26px;
  height: 26px;
}

.social-list__item-link:hover .social-list__icon {
  fill: #ffffff;
}

.team__member-name {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 12px;
}

.team__member-position {
  font-family: var(--secondary-font);
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.page-footer {
  border-top: 1px solid #e5e5e5;
  min-height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-footer__description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.page-footer__link {
  color: #f38181;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-form__input {
  width: 230px;
  height: 40px;
  padding-left: 14px;
  border: 1px solid #e7e7e7;
  outline: none;
}

.contact-form__input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  background-color: #ffffff;
}

.contact-form__input::-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  background-color: #ffffff;
}

.contact-form__input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  background-color: #ffffff;
}

.contact-form__input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  background-color: #ffffff;
}

.contact-form__input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  background-color: #ffffff;
}

.contact-form__button {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
